# Auto detect text files and perform LF normalization
* text=auto

# Scripts
*.sh text eol=lf

# Documents
*.md text diff=markdown

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.gz binary
*.tar binary
*.zip binary

# Fonts
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary


